# .github/workflows/ci.yml
name: Pipeline de CI/CD - Olá Mundo DevOps

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  # 1️⃣ Job de CI (Build, Test e Push da Imagem Docker)
  test-and-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - name: Instalar Dependências
        run: npm install

      - name: Rodar Testes
        run: npm test

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Logar no GitHub Container Registry
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extrair Metadados do Docker
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=sha
            latest

      - name: Build e Push da Imagem Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  # 2️⃣ Job de CD (Deploy local usando o runner)
  deploy-to-local:
    needs: test-and-build
    runs-on: self-hosted
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Atualizar imagem e subir containers
        run: |
          docker compose pull
          docker compose down
          docker compose up -d
